<section class="dashboard-container">
  <section class="dashboard-side-menu">
    <div class="dashboard-menu-title"><h1><%= current_user.username.upcase %></h1></div>
    <div class="dashboard-menu-sugestions"><h2>Sugestions</h2></div>
  </section>
  <section class="dashboard-body">
    <div class="dashboard-body-card">
      <%= @thought.username %>

      <div class="card">
        <div class="card-content">
          <p class="title">
            <%= @thought.body %>
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              <%= link_to "Like", thought_votes_path(@thought, upvote: :true), method: :post %>
            </span>
          </p>
          <p class="card-footer-item">
            <span>
              <%= link_to "Unlike", thought_votes_path(@thought, dowvote: :true), method: :post %>
            </span>
          </p>
        </footer>
      </div> 

    </div>
  </section>
</section>
